@font-face {
	src: url(../fonts/RIDIBatang.otf);
	font-family: RIDI;
}

* {
	font-family: RIDI;
}

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
}

/*
.index_wrapper {
	width: 1170px;
	margin: 0 auto;
}
*/
.wrapper {
	width: 1170px;
	margin: 0 auto;
}

.head {
	height: 100px;
	background: #2E404E;
	width: 100%;
	z-index: 10;
	position: fixed;
}

.logo {
	width: 20%;
	float: left;
	line-height: 100px;
}

.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}

nav {
	float: right;
	line-height: 100px;
}

nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 15px;
	margin: 0 10px;
	color: #fff;
}

.headerA:hover {
	color: #bbb;
	font-weight: bolder;
	text-decoration: underline;
}

.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 100px;
	background-image: url("images/news.jpg");
	background-size: cover;
	opacity: 0.9;
	background-position: center center;
}

.banner-area h2 {
	padding-top: 8%;
	font-size: 90px;
	font-family: poppins;
	text-transform: uppercase;
}

.banner-area h2 b {
	display: none;
}

.basic_contentzone {
	padding-top: 20px;
	position: relative;
	width: 100%;
	height: 500px;
	top: 100px;
}

.index_content-area {
	width: 100%;
	height: 600px;
	position: relative;
	background-color: #C7C7C7;
	top: 450px;
}

.content-area {
	width: 100%;
	height: 600px;
	position: relative;
	background-color: white;
	top: 450px;
}

.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 40px;
	margin: 0;
}

.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

.login {
	margin: auto;
	padding: 8%;
	width: 680px;
	height: 400px;
	font-size: 20px;
	box-shadow: 0 0 20px #666666;
}

.login div {
	border-radius: 25px;
	padding-top: 10px;
}

.login h2 {
	color: #333;
	margin-bottom: 50px;
}

.enterId {
	width: 500px;
	height: 30px;
	border: none;
	outline: none;
	box-sizing: border-box;
	color: #333;
	font-size: 15px;
}

.enterId:visited {
	box-shadow: 2px 2px 5px #555;
	background-color: #ddd;
}
/*
여기를 지정했을 때 header가 제대로 나오지 않기 때문에 수정해야 함. 
이 부분 찾아서 class 나 id로 만들어서 작업하기 
div a {
	padding-top: 50px;
	font-size: 15px;
	margin: 3%;
}

a {
	font-family: bold;
	color: black;
}
*/
#newsContents {
	position: relative;
	top: 200px;
	float: right;
	width: 50%;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	border-bottom: 2px solid #2E404E;
}

.listWriteInput {
	padding-top: 10px;
	width: 700px;
	height: 40px;
	border: none;
	outline: none;
	box-sizing: border-box;
	color: #333;
	font-size: 15px;
}

.listWriteInput:hover {
	box-shadow: 2px 2px 2px #555;
	background-color: #ddd;
}

.newsBox {
	width: 60%;
	height: 350px;
	border: 1px solid #666666;
}

.textBox {
	width: 60%;
	height: 400px;
	/*cols:"110";
	rows:"30";*/
	border: none;
	box-shadow: 0 0 5px #666666;
}

.writhingPageBtn {
	font-size: 15px;
	padding: 10px 10px;
	border-radius: 5px;
	transition-duration: 0.4s;
	background-color: #2E404E;
	color: white;
}

.newsBox {
	width: 60%;
	height: 350px;
	border: 1px solid #666666;
}

.textBox {
	width: 60%;
	height: 400px;
	/*cols:"110";
	rows:"30";*/
	border: none;
	box-shadow: 0 0 5px #666666;
}

.writhingPageBtn {
	font-size: 15px;
	padding: 10px 10px;
	border-radius: 5px;
	transition-duration: 0.4s;
	background-color: #2E404E;
	color: white;
}

.push_button_Stoore {
	border: 1px solid #2E404E;
	background-color: #2E404E;
	color: white;
	font-size: 15px;
	border-radius: 3px;
	padding: 15px 15px;
}

.nameButton {
	float:right;
	background-color: #2E404E;
	color:white;
	font-weight:bold;
	border:none;
	text-align: center;
}