@charset "UTF-8";
@font-face{
  src: url(../fonts/NanumBarunpenB.ttf);
  font-family: seoul;
}
*{
  font-family: seoul;
}
a{text-decoration: none;}

.totalbox{
    margin: 0 auto;
    width: 1200px;
}
#container{ 
    margin: 0 auto;
    text-align: center;
}
#title{
    margin: 20px;
    color: #2E404E;
    font-size: 50px;
}
section,article{
     width:100%;
     margin: 0; 
}
#menuNav{
    width: 17%;
    float: left;
}
#profile{
    height: 200px;
    background-color: white;
}
#listDiv{
    padding: 5px;
}
#ulList{
    list-style-type: none;
    font-size: 20px;
    
    text-align: left;

}
.list{
    margin: 10px;
    text-decoration: none;
    
}
.list a{
    color:#2E404E;
}
#mainDiv{
    width: 80%;
    float: right;
    margin-left: 10px;
    height: 500px; 
    border:2px solid red;
}
#subCategoryBox{
    width: 100%;
    height: 50px;
    background-color:#2E404E;
}
#subCategoryBox li{
    margin: 5px;
    padding: 10px;
}
#subCategoryBox li:hover{
    background-color: #d49466;
    border-radius: 4px;
}
#subCategoryBox li a{
    color: white;
}
#subCategoryList{
    list-style-type: none;
    padding-left: 0px;
}
.subCategoryElement{
    margin-right: 20px;
    color: white;
    float:left;
}
#newsContents{
    width: 90%;
    margin: auto;
    padding-left:25px;
    padding-right:25px;
    border-bottom: 2px solid #2E404E;
}
